# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore dataset file (too large for GitHub)
creditcard.csv

# Ignore system files
.DS_Store
Thumbs.db
